.letter_box {
    border: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    box-shadow: 3px 3px 1px lightgrey;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .letter_box {
        width: 3rem;
        height: 3rem;
    }
}